@media(max-width: 1166px) {
    .testimonials .item p {
        width: 280px;
    }
}

@media(max-width: 991px) {
    .menu-flex .menu1 {
        width: 100%;
    }

    .shop-flex .shop1 {
        width: 49%;
    }

    .bg-service .service-one {
        width: 49%;
    }

    .footer-flex .footer1 {
        width: 49%;
    }
}


@media(max-width: 768px) {
    .info {
        display: none;
    }

    .bars {
        display: block;
    }

    header .navigation {
        position: absolute;
        top: 81px;
        left: -100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .4s ease-in-out;
        flex-direction: column;
        height: 100vh;
        width: 50%;
        background: rgba(0, 0, 0, 0.9);
    }

    header .navigation.show {
        left: 0 !important;
    }

    .image-rotate {
        transform: rotate(-90deg);
    }


    header .navigation li {
        margin: 10px 0px;
    }

    .home-content h1 {
        font-size: 3rem;
    }

    .bg-service {
        flex-direction: column;
        width: 100%;
        margin: 15px 0;
    }
    .bg-service .service-one {
        width: 85%;
        margin: 15px 0;
    }
    .bg-service img {
        width: 100%;
    }

    .service-one {
        width: 100%;
    }

    .bg-menu {
        background-position: 30% 50%;
    }
    
    .bg-gallery .gallery-flex {
        flex-wrap: wrap;
    }

    .gallery-flex .image-one {
        width: 50%;
    }

    .inside-gallery {
        width: 50%;
    }

    .bg-gallery .last-image {
        display: none;
    }

    .bg-gallery .gallery-flex {
        flex-wrap: wrap;
    }

    .gallery-flex .image-one {
        width: 50%;
    }

    .inside-gallery {
        width: 50%;
    }

    .bg-gallery .last-image {
        display: none;
    }

    .about-flex {
        flex-wrap: wrap;
    }

    .about-flex .about1 {
        width: 100%;
    }

    .testimonials .item p {
        width: 450px;
        margin: 0 auto;
        font-size: 1.1rem;
    }
}

@media(max-width: 576px) {
    .home-content h1 {
        font-size: 2rem;
    }

    .home-content p {
        font-size: 13px;
    }

    .home-content h1 br {
        display: none;
    }

    .bg-service .service-one {
        width: 100%;
    }

    .shop-flex .shop1 {
        width: 100%;
    }

    .bg-shop .shop-links {
        flex-direction: column;
        justify-content: center;
    }

    .gallery-flex .image-one {
        width: 100%;
    }

    .inside-gallery {
        width: 100%;
    }

    .testimonials .item p {
        width: 365px;
        padding: 0 25px;
    }

    .footer-flex .footer1 {
        width: 100%;
    }
}

@media(max-width: 350px) {
    .home-content .home-links {
        flex-direction: column;
        grid-row-gap: 15px;
    }

    .testimonials .item p {
        width: 235px;
    }
}